.loginContent {
    --background: rgb(255,245,103) !important;
    --background: linear-gradient(45deg, rgba(255,245,103,1) 0%, rgba(255,103,96,1) 100%) !important; 
    --padding-top: 70% !important;
}
.signupContent {
    --background: rgb(255,245,103) !important;
    --background: linear-gradient(45deg, rgba(255,245,103,1) 0%, rgba(255,103,96,1) 100%) !important;
    --padding-top: 70% !important; 
}

.inputField {
    margin: 10px !important;
}

.importantButton {
    --background: #ffffff50; 
    --color: black;
    margin: 10px !important;
}

.notImportantButton {
    --background: transparent;
    --color: black;
    margin: 10px !important;
}